.profile-main {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.page {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.page h2 {
    text-align: center;
}

.page img {
    align-self: center;
    width: 25%;
    border-radius: 50%;
    object-fit: fill;
    cursor: pointer;
}

.page input {
    padding: 2%;
    background-color: rgb(246, 246, 246);
    color: black;
    font-weight: 600;
}

.page button {
    font-weight: 600;
    padding: 2%;
}

.page div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page div button {
    color: rgb(239, 28, 13);
}